.layout_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading_container img {
  max-width: 50px;
}

.heading_container h2 {
  font-weight: bold;
}

.hero_area {
  height: 100vh;
  background-color: #f6f5f7;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sub_page .hero_area {
  height: auto;
  background: none;
}

.sub_page .hero_area::before {
  width: 225px;
  height: 110px;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 10px 15px;
  color: #060606;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
  color: #e7d619;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-brand img {
  width: 65px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
  height: 80px;
  justify-content: space-between;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-size: 50px;
  width: 30px;
  height: 30px;
}

.lg_toggl-btn {
  background-color: transparent;
  border: none;
  outline: none;
  width: 56px;
  height: 40px;
  cursor: pointer;
}

.lg_toggl-btn:focus {
  outline: none;
}

.User_option {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 75px;
}

.User_option .form-inline {
  position: relative;
  margin-right: 15px;
}

.User_option .form-inline input {
  display: none;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 15px;
  top: 7px;
}

.custom_menu-btn button {
  margin-top: 14px;
  outline: none;
  border: none;
  background-color: transparent;
}

.custom_menu-btn button span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  transition: all 0.3s;
  border-radius: 5px;
}

.menu_btn-style {
  position: fixed;
  right: 29px;
  top: 7px;
}

.custom_menu-btn .s-2 {
  transition: all 0.1s;
  width: 22px;
  margin-left: auto;
}

.menu_btn-style button .s-1 {
  transform: rotate(45deg) translateY(16px);
}

.menu_btn-style button .s-2 {
  transform: translateX(100px);
}

.menu_btn-style button .s-3 {
  transform: rotate(-45deg) translateY(-16px);
}

.overlay-home {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(10, 32, 80, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}

.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  margin-bottom: 15px;
  text-transform: uppercase;
  opacity: 0;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu_width {
  width: 100%;
}

.menu_width.overlay a {
  opacity: 1;
}


.slider_section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider_section .detail-box {
  margin: 45px 5% 0 5%;
  padding-bottom: 45px;
  border-right: 2px solid #e7d619;
  
}

.slider_section .detail-box h1 {
  font-weight: bold;
  color: #010001;
  font-size: 3rem;
  padding-bottom: 15px;
  position: relative;
}

.slider_section .detail-box h1 span {
  color: #e7d619;
}

.slider_section .detail-box .btn-box {
  display: flex;
  margin: 30px -5px 0 -5px;
  flex-wrap: wrap;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  width: 165px;
  text-align: center;
}

.slider_section .detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 10px 0px;
  background-color: #0a2050;
  color: #ffffff;
  transition: all 0.3s;
  border: 1px solid #0a2050;
  border-radius: 0;
}

.slider_section .detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 10px 0px;
  background-color: #e7d619;
  color: #ffffff;
  transition: all 0.3s;
  border: 1px solid #e7d619;
  border-radius: 0;
}

.slider_section .img-box img {
  max-width: 100%;
}

.slider_section #carouselExampleIndicators {
  width: 100%;
}

.slider_section .carousel-indicators li {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: none;
  border: 2px solid #e7d619;
  color: #000000;
  position: relative;
  margin: 0 4px;
  border-radius: 100%;
}

.slider_section .carousel-indicators li.active {
  width: 18px;
  height: 18px;
}

.products-text {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #e7d619;
  background: #f6f5f7;
}

.tags-color {
  background: #f6f5f7;
}

.navbar-brand img {
  width: 50px;
}

.btn-2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e7d619;
  color: #ffffff;
  transition: background-color 0.3s, transform 0.2s;
  border: 1px solid #e7d619;
  border-radius: 5px;
}

.btn-2:hover {
  background-color: #f6f5f7;
  color: #e7d619;
  transform: scale(1.05);
}

